.multiline {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.multiline-mobile {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.box-shadown-btn {
  box-shadow: 4px 8px 48px 0px rgba(92, 196, 187, 0.3);
}

.flex-item {
  margin-right: 50px; /* Khoảng cách phải của mỗi phần tử */
}

.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.bg-review {
    background-color: rgba(34, 34, 34, 0.20);
    border-radius: 16px ;
}

.custom-blur {
    filter: blur(101px);
  }

.box-btn {
  box-shadow: 4px 8px 48px 0px rgba(92, 196, 187, 0.30);

}

.normal {
  line-height: normal;
}

.navbar-mobile {
  left: 50%;
  transform: translateX(-50%);
  padding: 3px;
  background: black;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #84C4FF 0%, #5CC4BB 100%);
  border-radius: 50%; 
  padding: 10px; /* Khoảng trống 3px xung quanh nội dung */
}
