.multiline {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.multiline-mobile {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.box-shadown-btn {
  box-shadow: 4px 8px 48px 0px rgba(92, 196, 187, 0.3);
}

.flex-item {
  margin-right: 50px; /* Khoảng cách phải của mỗi phần tử */
}

.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.bg-review {
    background-color: rgba(34, 34, 34, 0.20);
    border-radius: 16px ;
}

.custom-blur {
    filter: blur(101px);
  }
